.list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;
    position: relative;
    /* Hide overflowing content */

    .listTitle {
        font-size: 24px;
        margin-left: 65px;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .wrapper {
        position: relative;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        /* Enable scrolling */
        scroll-behavior: smooth;
        /* Smooth scrolling */
        -webkit-overflow-scrolling: touch;

       
        .container {
            padding: 0 70px;
            /* Padding for both sides */
            display: flex;
            position: relative;
            width: max-content;
            margin-top: 10px;
            transform: translateX(0px);
            transition: transform 0.5s ease-in-out;
        }
    }
}
::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }