.navbar {
    width: 95%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 100;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.desktop-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.desktop-menu li {
    cursor: pointer;
}

.navbar-right {
    margin-right: 10px; /* Adds spacing from the right edge */
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons {
    width: 25px;
    cursor: pointer;
}

.navbar-right .profile {
    border-radius: 5px;
    width: 40px;
    object-fit: cover;
    height: 30px;
}
.navbar-right .icons,
.navbar-right .profile {
    margin-right: 10px; /* Optional: adds consistent spacing between icons */
    cursor: pointer;
}
.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown {
    display: block;
}

.nav-dark {
    background: #141414;
}

// Mobile menu and hamburger styles
.hamburger {
    margin-right: 10px; /* Adds spacing from the right edge */

    display: none;
    opacity: 0;
    cursor: pointer;
}
.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #191919;
    z-index: 99;
    padding: 0; // Remove padding here
    align-items: center;
}

.mobile-menu.open {
    max-height: 200px; // Adjust based on content height
    padding: 10px 0; // Add padding here for expanded state
}


.mobile-menu li {
    overflow: hi;
    padding: 10px 20px;
    cursor: pointer;
}
.mobile-menu .user-profile {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #e5e5e5;
    font-weight: bold;
}

.profile-icon {
    margin-right: 8px; // Space between icon and username
    font-size: 24px; // Adjust icon size as needed
}




@media (max-width: 800px) {
    .navbar-left img {
        height: 25px;
    }

    .desktop-menu {
        display: none;
    }

    .hamburger {
        opacity: 1;
        display: block;
    }

    .navbar img {
        height: 20px;
    }

    .navbar-right {
        gap: 10px; /* Reduces gap for a more compact mobile view */
        margin-right: 15px; /* Adds some space from the right edge */
    }
}
